<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1>Show Page</h1>
    <div>
        <img src="<%=productObj.img%>" alt="<%=productObj.name%>" />
        <ul>
            <li><%=productObj.name%></li>
            <li><%=productObj.description%></li>
            <li><%=productObj.price%></li>
            <li><%=productObj.qty%></li>
        </ul>
    </div>
    <form action="/store/<%=productObj._id%>/buy?_method=PUT" method="POST">
        <label for="amt">Amount</label>
        <input type="number" name="qty" id="amt">
        <input type="submit" value="BUY">
    </form>
    <nav><a href="/store/<%=productObj._id%>/edit">EDIT</a></nav><br>
    <form action="/store/<%=productObj._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
    </form>
    <nav><a href="/store">BACK</a></nav>
</body>
</html>


    



